@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



th,td{
  @apply border  p-2
}

.page{
  height: 100vh;
  padding-bottom: 50px;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-slate-100 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm  text-gray-700 hover:text-gray-500 font-medium;
}

.login{
  height: 100vh;
}